.wrapperitems {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 200vh; /* Adjust width to avoid overflow */
    max-height: 80vh; /* Maximum height for the container */
    overflow-y: auto; /* Enable vertical scroll if needed */
    margin: 0 auto; /* Center the container horizontally */
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0; /* Add padding between items */
    border-bottom: 1px solid #e0e0e0; /* Add a border to separate items */
    background-color: white;
}

.item:last-child {
    border-bottom: none; /* Remove border for the last item */
}

.cartimage {
    flex: 0 0 auto; 
    margin-right: 20px;
}

.itemImage {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Allow the item details to grow */
}

.itemTitle {
    font-weight: bold;
    margin-bottom: 5px;
}

.itemPrice {
    margin-bottom: 10px;
    text-align: right; /* Align price to the right */
}

.quantityControls {
    display: flex;
    justify-content: flex-end; /* Align quantity controls to the right */
    align-items: center;
}

.cartbutton1, .cartbutton2 {
    background-color: #f0f0f0;
    border: 4px yellow;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.itemqt {
    min-width: 20px;
    text-align: center;
}
