.App {
  text-align: left;
  padding: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px; 
  
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImageContainer {
  width: 200px;
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

.cardImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.cardContent {
  margin-top: 10px;
  text-align: center;
  
}
/* 
@media (max-width: 768px) {

  .cards {
    margin-right: 0; 
    width: calc(50% - 20px); 
    margin-right: 20px; 
    margin-bottom: 20px; 
    display: flex;
  }
  .cardImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    width: 120px;
  }
} */