.cart{
    background-color: rgb(245, 245, 245);

}

.main {
    padding-top: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    width: 100%; 
  }
  
  .backarrow {
    font-size: 24px; 
    cursor: pointer;
    position: absolute; 
    left: 50px; 
    color: rgb(25, 25, 121);
  }
  
  .checkoutheading {
    color: rgb(25, 25, 121);
    font-weight: 700;
    font-size: 18px;
    margin: 0 auto; 
  }

  .selectbranch{
    left: 50px; 
    padding-left: 50px;
    padding-top: 40px;
    background-color: none;

  }
  
  .payment{
    left: 50px; 
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: none;

  }

  .item{
    left: 50px; 
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: none;
  }