.cart{
    background-color: rgb(245, 245, 245);
    overflow: hidden;

}

.main {
    padding-top: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    width: 100%; 
  }
  
  .backarrow {
    font-size: 24px; 
    cursor: pointer;
    position: absolute; 
    left: 50px; 
    color: rgb(25, 25, 121);
  }
  
  .checkoutheading {
    color: rgb(25, 25, 121);
    font-weight: 700;
    font-size: 18px;
    margin: 0 auto; 
  }

  .selectbranch{
    left: 50px; 
    padding-left: 50px;
    padding-top: 40px;
    background-color: none;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.7);

  }
  
  .payment{
    left: 50px; 
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: none;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.7);


  }

  .item{
    left: 50px; 
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: none;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.7);


  }

  @media (max-width: 768px) {
    .cart {
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
      overflow: hidden;
      padding-left: 0;

    }

    .backarrow {
      font-size: 24px; 
      left: 20px; 
      bottom: 2px;
      color: rgb(25, 25, 121);
    }

    .selectbranch{
      left: 50px; 
      padding-left: 50px;
      padding-top: 40px;
  
    }

    .payment{
      left: 50px; 
      padding-left: 50px;
      padding-top: 30px;
      top: 10px;
    }

    .item{
      left: 50px; 
      padding-left: 50px;
      padding-top: 30px;
      padding-bottom: 5px;
      margin-top: -90px;

    }

    .selectbranch{
      left: 50px; 
      padding-left: 50px;
      padding-top: 40px;
  
    }
  }