.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(255, 235, 59, 0.2), rgba(245, 245, 245, 0.7)); /* Yellow gradient */
  backdrop-filter: blur(2px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 10px 20px;
  padding-top: 30px;
  z-index: 1000; 
}

.logo img {
  margin-top: 10px;
  height: 45px; 
  padding-left: 20px;
}

.icons {
  display: flex;
  padding-top: 20px;
  margin-right: 20px;
}

.icon {
  margin-left: 20px;
  font-size: 34px;
  color: #000000;
 cursor: pointer; 
}
.carticon{
  font-size: 36px;
  cursor: pointer;
  color: #000000;
}

.carticon:hover{
  color: #5e5e5e
}

.icon:hover {
  color: #5a5a5a; /* Color on hover */
}

.cartIconContainer {
  position: relative;
  display: inline-flex; /* Use inline-flex to allow horizontal alignment */
  align-items: center; /* Align items vertically */
}

.cartCount {
  position: absolute;
  top: 6px; /* Adjust the top position */
  right: 4px; /* Adjust the right position */
  /* background-color: rgb(46, 46, 46); */
  color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: 500;
  display: flex; /* Allow horizontal alignment */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
}
.cartCount:hover{
  color: rgb(236, 236, 236);

}

body {
  padding-top: 60px; 
}
