.branchselector {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  max-width: 200vh;
  margin: 10px;
  margin: auto;
}

.Branchbutton {
  margin-top: 10px;
  width: 100%; 
  max-width: 100%; 
  height: 50px;
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 20px;
  cursor: pointer;
  border: none; 
  text-align: center; 
  font-size: 16px; 
  color: #333; 
  padding: 10px 20px; 
  box-sizing: border-box;
}

.branchlist {
  width: 100%; 
  max-width: 100%; 
}

@media (max-width: 768px) {
  .branchselector {
    margin: 10px; 
    padding-top: 0px;
    max-width: 200vh;
    


  }
}
