.Card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  /* margin: 16px; */
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s;
  flex: 1 0 200px; 
  max-width: 200px;

}

.Card:hover {
  transform: scale(1.05);
}

.cardimg {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.cardtitle {
  font-size: 1.2em;
  margin: 8px 0;
}

.cardprice {
  font-size: 1.4em;
  color: #333;
}


